@using Application.Dtos.ProductDtos
@model List<ResultProductDto>;

<body>
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">All Products</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/Home/Index">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shop</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-12">
                <!-- Price Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <label class="" for="price-all">All PRICES</label>
                            <span class="badge border font-weight-normal"></span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <a href="@Url.Action("Index", "Product", new { min = 1, max = 500 })">
                                <label for="price-1">$1 - $500</label>
                            </a>
                            <span class="badge border font-weight-normal">@ViewBag.Price_1_500</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <a href="@Url.Action("Index", "Product", new { min = 500, max = 1000 })">
                                <label for="price-2">$500 - $1000</label>
                            </a>
                            <span class="badge border font-weight-normal">@ViewBag.Price_500_1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <a href="@Url.Action("Index", "Product", new { min = 1000, max = 2000 })">
                                <label for="price-3">$1000 - $2000</label>
                            </a>
                            <span class="badge border font-weight-normal">@ViewBag.Price_1000_2000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <a href="@Url.Action("Index", "Product", new { min = 2000, max = 5000 })">
                                <label for="price-4">$2000 - $5000</label>
                            </a>
                            <span class="badge border font-weight-normal">@ViewBag.Price_2000_5000</span>
                        </div>
                    </form>
                </div>
                <!-- Price End -->
            </div>
            <!-- Shop Sidebar End -->
            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <form method="post" action="/Product/Index">
                                <div class="input-group">
                                    <input type="text" name="searchTerm" class="form-control w-75" placeholder="Search"  />
                                    <div class="input-group-append">
                                        <button type="submit" class="input-group-text bg-transparent text-primary" style="border:none; cursor:pointer;">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="dropdown mb-4">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Sort By Price
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "price_asc" })"> Highest</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", new { sortOrder = "price_desc" })"> Lowest</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                            <div class="card product-item border-0 mb-4">
                                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                    <img class="img-fluid w-100" src="@item.ImageUrl" alt="">
                                </div>
                                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                    <h6 class="text-truncate mb-3">@item.ProductName</h6>
                                    <div class="d-flex justify-content-center">
                                        <h6>@item.Price $</h6>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between bg-light border">
                                    <a href="#" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                    <a href="#" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
</body>
